/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        reset_layer {
            bindings = <&to 0>;
            key-positions = <37 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB    &kp Q               &kp W           &kp E            &kp R             &kp T        &kp Y    &kp U              &kp I             &kp O            &kp P                   &kp BSPC
&kp LCTRL  &mt LEFT_CONTROL A  &mt LEFT_ALT S  &mt LEFT_META D  &mt LEFT_SHIFT F  &kp G        &kp H    &mt RIGHT_SHIFT J  &mt RIGHT_META K  &mt RIGHT_ALT L  &mt RIGHT_CONTROL SEMI  &kp SQT
&kp LSHFT  &kp Z               &kp X           &kp C            &kp V             &kp B        &kp N    &kp M              &kp COMMA         &kp DOT          &kp FSLH                &kp ESC
                                               &kp ESCAPE       &to 1             &kp SPACE    &kp RET  &to 2              &kp BACKSPACE
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp TAB           &none  &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN    &none        &none    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none          &none             &kp BSPC
&kp LEFT_CONTROL  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none        &none    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LESS_THAN  &kp GREATER_THAN  &kp RIGHT_META
&kp LSHFT         &none  &kp HOME        &none           &kp END          &none        &none    &kp LEFT_BRACE        &kp RIGHT_BRACE        &none          &none             &kp ESCAPE
                                         &kp ESCAPE      &to 1            &kp SPACE    &kp RET  &to 0                 &kp BACKSPACE
            >;
        };

        upper_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Upper";
            bindings = <
&kp TAB    &kp GRAVE                     &kp AT_SIGN            &kp HASH             &kp DOLLAR             &kp PERCENT       &kp KP_PLUS   &kp NUMBER_7              &kp NUMBER_8             &kp NUMBER_9            &none                       &kp BSPC
&kp LCTRL  &mt LEFT_CONTROL EXCLAMATION  &mt LEFT_ALT QUESTION  &mt LEFT_META COMMA  &mt LEFT_SHIFT PERIOD  &kp PIPE          &kp KP_EQUAL  &mt RIGHT_SHIFT NUMBER_4  &mt RIGHT_META NUMBER_5  &mt RIGHT_ALT NUMBER_6  &mt RIGHT_CONTROL NUMBER_0  &kp RIGHT_META
&kp LSHFT  &kp CARET                     &kp AMPERSAND          &kp ASTERISK         &kp TILDE              &kp UNDERSCORE    &kp KP_MINUS  &kp NUMBER_1              &kp NUMBER_2             &kp NUMBER_3            &none                       &kp ESCAPE
                                                                &kp ESCAPE           &to 0                  &kp SPACE         &kp RET       &to 2                     &kp BACKSPACE
            >;
        };
    };
};
